.content {
  color: $text-color;
  font-size: 18px;
  line-height: 1.5em;
  padding: 20px;
  background-color: #fff;
  h2 {
    line-height: 1em;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  a {
    color: $theme-color;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  ul {
    padding-left: 20px;
  }
  ol {
    padding-left: 16px;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 25px auto;
  }
  blockquote {
    border-left: 3px solid $theme-color;
    margin-left: 0;
    padding-left: 15px;
  }
}
