.modal {
  width: 100%;
  max-width: 600px;
  padding: 40px;
  display: none;
}

.modal-wrapper {
  .fancybox-bg {
    background-color: #fff;
  }
  .fancybox-content {
    box-shadow: 0 30px 69px -5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }
}
