$color-white: #ffffff;
$color-black: #000000;
$color-gray: #404040;
$container-width: 1400px;

$theme-background: #fff;
$theme-color: #a34e17;
$theme-color-light: #c4814a;

$slidebar-background: #dab881;
$text-color: #333;